
  <div class="row" style="margin-top: 200px;">
    <div class="col-md-8 col-md-offset-2 well">
      <div>
        <h1>Select a City:</h1>
        <input type="text" ng-model='searchCity'>
      </div>
      <div>
        <h1>Select a State:</h1>
        <input type="text" ng-model='searchState'>
      </div>
      <div>
        <!-- <a href='#/city' class='btn-primary btn-lg pull-right' ng-click='search(searchCity, searchState)'>Search</a> -->
        <button class='btn-primary btn-lg pull-right' ng-click='search(searchCity, searchState)'>Search</button>
      </div>
    </div>
  </div>
  <div class="row" ng-repeat='post in postData'>
    <div class="well">
      <div class="row text-center">
        <p>City: {{post.city}}</p>
        <p>State: {{post.state}}</p>
        <p>Location: {{post.location}}</p>
        <p>Description: {{post.description}}</p>
        <p>Person: {{post.person}}</p>
        <p>Category; {{post.category}}</p>
      </div>
    </div>
  </div>
