<div class='row'>
  <div class="col-md-10 col-md-offset-1 well">
    <div class='form-group'>
      <label>City</label><br>
      <input type="text" ng-model='post.city'>
    </div>
    <div class='form-group'>
      <label>Location</label><br>
      <input type="text" ng-model='post.location'>
    </div>
    <div class='form-group'>
      <label>Description</label><br>
      <textarea class='form-control' rows="10" cols="10" ng-model='post.description'></textarea>
    </div>
    <div class='form-group'>
      <label>I am a</label>
      <div class="form-group">
            <div class="radio">
                <label>
                    <input type="radio" name="person" value="local" ng-model="post.person">
                    Local
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="person" value="tourist" ng-model="post.person">
                    Tourist
                </label>
            </div>
        </div>
    </div>
    <div class='form-group'>
      <label>Category</label><br>
      <input type="text" ng-model='post.category'>
    </div>
    <div>
      <a href='#/' class='btn-primary btn-lg pull-right' ng-click='createPost(post)'>Submit</a>
    </div>
  </div>
</div>
