<div class='row'>
  <div class="col-md-10 col-md-offset-1">
    <div class='form-group'>
      <label>City</label><br>
      <input type="text">
    </div>
    <div class='form-group'>
      <label>Location</label><br>
      <input type="text">
    </div>
    <div class='form-group'>
      <label>Description</label><br>
      <input type="text">
    </div>
    <div class='form-group'>
      <label>I am a</label><br>
      <input type="radio" name="person" value="local"> Local <br>
      <input type="radio" name="person" value="tourist"> Tourist
    </div>
    <div class='form-group'>
      <label>Category</label><br>
      <input type="text">
    </div>
  </div>
</div>
